.header__lang-link-rus {
    font-size: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .header__lang-link-rus {
        font-size: 18px;
        line-height: 20px;
    }
}