.body{
background: #2A2C2F;
max-width: 1184px;
margin: 0 auto;
font-family: 'Inter', 'Arial', sans-serif;
box-sizing: border-box;
}
@media screen and (max-width: 1024px){
    .body{
        max-width: 1024px;
        margin: 0 auto;     
    }
    
}
@media screen and (max-width: 768px){
    .body{
        max-width: 768px;
        margin: 0 auto;    
    }
    
}
@media screen and (max-width: 320px){
    .body{
        max-width: 320px;
        margin: 0 auto;  
    }
    
}