.place__content {
    display: flex;
    margin: 48px 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 40px;
}

@media screen and (max-width: 768px) {
    .place__content {
        margin-top: 32px;

    }

}