.list__item {
    list-style-type: none;
    max-width: 690px;
    display: flex;
    line-height: 18px;
}


@media screen and (max-width: 768px) {
    .list__item {
        max-width: 720px;
        margin: 0;

    }

}

@media screen and (max-width: 425px) {
    .list__item {
        max-width: 288px;
        margin: 0;

    }

}