.footer__copyright {
    margin: 0;
    max-width: 186px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 48px;

}

@media screen and (max-width: 425px) {
    .footer__copyright {
        max-width: 186px;
        line-height: 14px;
        min-height: 14px;
        margin-top: 48px;
        padding-right: 0;


    }

}