.intro{
    position: relative;
    width: 100%;
    max-width: 690px;
    height: 100%;
    min-height: 429px;
    margin: 92px 0 0 148px;

}
@media screen and (max-width: 1024px){
    .intro{
        margin: 92px 0 0 48px;
    }
    
}

@media screen and (max-width: 768px){
    .intro{
      margin: 88px 24px 0 24px;
        
    }
    
}
@media screen and (max-width: 320px){
    .intro{
        max-width: 288px;
        min-height: 760px;
        margin: 64px 16px 0 16px;
    }
    
}