.place {
    max-width: 984px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 460px 456px;
    gap: 48px 40px;
}

.place:not(:first-child) {
    margin: 65px 0 0;
}

@media screen and (max-width: 1025px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px 450px;
        gap: 48px 32px;
    }

}

@media screen and (max-width: 769px) {
    .place {
        max-width: 720px;
        margin-top: 50px;
        grid-template-columns: 340px 350px;
        gap: 48px 28px;


    }
}

@media screen and (max-width: 426px) {
    .place {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        gap: 0;

    }

}