.footer {
    background: #2A2C2F;
    max-width: calc(100% - 48px*2);
    width: 100%;
    margin: 0 auto;
    padding-top: 92px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;

    }

}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding-top: 88px;
    }

}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 186px;
        margin: 0;
        padding-top: 64px;
    }

}