.place__website {
    align-self: end;
}

@media screen and (max-width: 768px) {
    .place__website {
        align-self: flex-start;
        margin-top: 32px;
        max-width: 352px;
        margin-top: 0;
    }

}

@media screen and (max-width: 425px) {
    .place__website {
        align-self: flex-start;
        margin-top: 32px;
        max-width: 288px;
    }

}