.photo {
    display: grid;
    max-width: 1184px;
    margin: 92px auto 0;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .photo {
        max-width: 928px;
        width: calc(100% - 24px*2);
        gap: 16px;

    }

}

@media screen and (max-width: 768px) {
    .photo {
        max-width: 720px;
        width: calc(100% - 16px*2);
        gap: 12px;
        margin: 88px auto 0;

    }

}

@media screen and (max-width: 767px) {
    .photo {
        margin: 58px auto 0;

    }

}